<main class="flex-grow-1 m-auto w-100 d-flex flex-column">
  <section
    id="movies"
    class="flex-grow-1 d-flex flex-column justify-content-evenly align-items-center w-100 mt-2 mb-4"
  >
    <img
      src="{{event.poster}}"
      style="height: 420px; width: 100%"
      class="object-fit-cover"
      alt="{{event.name}}"
    />
    <article
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <h2
        id="movieTitle"
        class="subtitle mt-4 mb-2 text-center"
      >{{event.name}}</h2>
      <h5 class="p-2 text-center card-title">Price:
        {{event.price}}</h5>
      <h5 class="p-2 text-center card-title">Place:
        {{event.place}}</h5>
      <h5 class="p-2 text-center card-title">Capacity available:
        {{event.capacity}}</h5>
        <input class="btn btn-danger fs-5 m-1 me-3" type="button" value="Add to cart!">
    </article>

  </section>
</main>